<h1><i class="fa fa-twitter">&nbsp;</i>Twitter API</h1>
  <h4>Welcome to Codeacamp Twitter API.</h4>
    <p>Please, enter the user name you want to look for.</p>
    <p id="para"></p>
    <br>
      <form id ="forma" action="/fetch" method="post">
        <br>
        @&nbsp;<input id="user" type="text" name="handle" placeholder="Type here..."><br><br>
        <input class="btn btn-primary" type="submit" value="View Tweets">
      </form>

